
# Created by https://www.gitignore.io/api/python3,linux
# Edit at https://www.gitignore.io/?templates=python3,linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

#!! ERROR: python3 is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/python3,linux

.mypy_cache
